* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

button, input, textarea {
    outline: none;
    border: none;
    font-family: $ff;

}

a {
    text-decoration: none;
    color: $accent;
}

body {
    font-family: $ff;
    background-color: $background;
    color: $text;
}
.no-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-data-text {
    color: $secondary_text;
    cursor: pointer;
    text-decoration: underline;

}

.svg {
    width: 25px;
    height: 25px;
    
    path {
        stroke: $text;
    }
}

.svg-btn {
    cursor: pointer;

    path {
        transition: 200ms ease;
    }
}

.svg-btn:hover {

    path {
        stroke: $secondary_text;
    }
}

.accent {
    color: $accent;
}

.highlight {
    background-color: $background_contrast;
    padding: .5rem 1rem;
    color: $text;
}


.highlight:last-child {
    border-radius: 0 0 8px 8px;
}

.highlight:first-child {
    border-radius: 8px 8px 0 0;
}

