* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

img {
    max-width: 100%;
}

button, input, textarea {
    outline: none;
    border: none;
    font-family: $ff;

}

a {
    text-decoration: none;
    color: $accent;
}

body {
    font-family: $ff;
    background-color: $background;
    color: $text;
}

.no-data-text {
    color: $secondary_text;

}

.svg {
    width: 25px;
    height: 25px;
    
    path {
        color: $text;
    }
}

.accent {
    color: $accent;
}