@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$purple60: #4B2B8E;
$purple30: #2A1E44;
$accent: #9C3EBD;

$background: #181818;
$background_contrast: #202020;

$text: #FFF;
$secondary_text: #FFFFFF80;
$third_text: #FFFFFF40;

$ff: 'Poppins', sans-serif;



