.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    animation: fadeIn 400ms ease-in-out;

}

.themes-modal {
    display: grid;
    grid-template-rows: 75px auto;
    gap: 1rem;
    padding: 1rem;
    max-width: 900px;
    width: 100%;
    height: 600px;
    background-color: $background_contrast;
    border-radius: 8px;
    animation: jumpIn 400ms ease-in-out;

    .themes-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid $third_text;

        h3 {
            font-weight: 400;
            font-size: 1.5rem;
        }
    }

    .themes-wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem 1rem;
        grid-auto-rows: 50px;
        justify-content: space-between;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding: .5rem;

        .theme {
            display: flex;
            height: fit-content;
            align-items: center;
            gap: 1.5rem;
            justify-content: space-between;
            border: 2px solid transparent;
            padding: 1rem;
            border-radius: 8px;
            transition: 200ms ease;

            .theme-name {
                color: $secondary_text;
            }

            .theme-name-active {
                color: $text;
            }

            .color-palette {
                display: flex;
                gap: .5rem;
                
                .color {
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    border: 1px solid $third_text;
                }
            }
        }

        .theme:hover {
            box-shadow: 0 4px 10px $background;
        }

        .theme-active {
            box-shadow: 0 4px 10px $background;
            border: 2px solid $third_text;

        }
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes jumpIn {
    from {
        transform: translateY(100%);
        opacity: 0;
        scale: 0;
    }
    to {
        scale: 1;
        opacity: 1;
        transform: translateY(0%);
    }
}