@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

img {
  max-width: 100%;
}

button, input, textarea {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #9C3EBD;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #181818;
  color: #FFF;
}

.no-data-text {
  color: rgba(255, 255, 255, 0.5019607843);
}

.svg {
  width: 25px;
  height: 25px;
}
.svg path {
  stroke: #FFF;
}

.accent {
  color: #9C3EBD;
}

.highlight {
  background-color: #202020;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: #FFF;
  border-radius: 8px;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 325px auto;
  gap: 1rem;
  padding: 0;
}
.main .sidebar {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 75px auto;
  height: 100dvh;
  width: 100%;
  gap: 0.5rem;
  transition: 200ms ease;
}
.main .sidebar .top-sidebar, .main .sidebar .notes {
  background-color: #202020;
  padding: 0.75rem;
  border-radius: 8px;
}
.main .sidebar .top-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.main .sidebar .top-sidebar .search-wrapper {
  width: 100%;
}
.main .sidebar .top-sidebar .search-wrapper #search-field {
  background-color: #181818;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
  color: #FFF;
  text-align: center;
}
.main .sidebar .sidebar-options {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.main .sidebar .sidebar-options .svg {
  cursor: pointer;
  transition: 200ms ease;
}
.main .sidebar .sidebar-options .svg path {
  transition: 200ms ease;
}
.main .sidebar .sidebar-options .svg:hover path {
  stroke: rgba(255, 255, 255, 0.5019607843);
}
.main .sidebar .sidebar-options .svg:active {
  scale: 0.75;
}
.main .sidebar .notes {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 0.5rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.main .sidebar .notes .note {
  width: 100%;
  background-color: #181818;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  text-align: center;
  transition: 100ms ease-in-out;
  cursor: pointer;
}
.main .sidebar .notes .note .note-name {
  font-weight: 400;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  color: rgba(255, 255, 255, 0.5019607843);
  background-color: transparent;
}
.main .sidebar .notes .note:hover {
  background-color: #2A1E44;
  scale: 0.9;
}
.main .sidebar .notes .note:hover .note-name {
  color: #FFF;
  cursor: pointer;
}
.main .sidebar .notes .note-active {
  background-color: #4B2B8E;
  scale: 0.95;
}
.main .sidebar .notes .note-active .note-name {
  color: #FFF;
  cursor: auto;
}
.main .notes::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4B2B8E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2A1E44;
}

.note-content-wrapper {
  padding: 0.5rem;
  padding-left: 0;
  display: grid;
  grid-template-rows: 75px 1fr;
  gap: 0.5rem;
}
.note-content-wrapper #note-content {
  width: 100%;
  height: calc(100dvh - 75px - 1.5rem);
  background-color: #181818;
  color: #FFF;
  resize: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  font-size: 1.125rem;
  overflow: hidden;
  overflow-y: auto;
}
.note-content-wrapper .note-content-wrap {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
.note-content-wrapper .note-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 0.5rem;
}
.note-content-wrapper .note-content-header .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.note-content-wrapper .note-content-header .title-wrapper .note-title {
  background-color: transparent;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: bold;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-content-wrapper .note-content-header .title-wrapper .svg {
  width: 25px;
  height: 25px;
}
.note-content-wrapper .note-content-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 100px;
}
.note-content-wrapper #current-color {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  outline: none;
  outline: 1px solid #202020;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}
.note-content-wrapper #current-color::-webkit-color-swatch-wrapper {
  padding: 0;
}
.note-content-wrapper #current-color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.note-content-wrapper .header-options {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.note-content-wrapper .header-options .svg {
  width: 30px;
  cursor: pointer;
  height: 30px;
  transition: 200ms ease;
}
.note-content-wrapper .header-options .svg path {
  transition: 200ms ease;
  stroke: #FFF;
}
.note-content-wrapper .header-options .svg:active {
  scale: 0.8;
}
.note-content-wrapper .header-options .svg:hover path {
  stroke: rgba(255, 255, 255, 0.5019607843);
}

.context-menu {
  position: absolute;
  background-color: #202020;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  overflow: hidden;
  color: #FFF;
  display: grid;
  transition: 200ms ease;
  pointer-events: none;
  scale: 0;
}
.context-menu .context-menu-item {
  display: flex;
  gap: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: 200ms ease;
  color: rgba(255, 255, 255, 0.5019607843);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2509803922);
}
.context-menu .context-menu-item .delete-svg path {
  stroke: rgb(185, 40, 40);
}
.context-menu .context-menu-item:last-child {
  border-bottom: none;
}
.context-menu .context-menu-item:hover {
  background-color: #181818;
  color: #FFF;
}

.context-menu-open {
  pointer-events: all;
  scale: 1;
}

.color-context-menu {
  position: absolute;
  background-color: #202020;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2509803922);
  transition: 200ms ease;
  pointer-events: none;
  scale: 0;
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  align-items: center;
  z-index: 999;
  padding: 0.5rem;
}
.color-context-menu .color-context-item {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: red;
}

.color-context-menu-open {
  scale: 1;
  pointer-events: all;
}/*# sourceMappingURL=style.css.map */